/* Alternate the background color of the output rows */
.list-group-item:nth-child(even) {
    background-color: #bdf1ac;
}

.chat-log {
    max-height:200px;
    overflow-y:scroll;
}

.brand_logo {
    height: 61px;
    width: 145px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 37px;
    margin-bottom: 20px;
}
